*,
*::after,
*::before {
    box-sizing: border-box;
}

:root {
    --font: "Merriweather", serif;
    --mark-blue: lightblue;
    --mark-green: lightgreen;
    --mark-purple: plum;
    --mark-pink: lightpink;
    --mark-yellow: rgb(255, 255, 96);
    --primary-color: rgb(63, 139, 63);
    --secondary-color: rgb(83, 78, 78);
    --time: 0.3s;
}

html {
    font-size: 100%;
    font-family: var(--font);
}

body {
    min-height: 100vh;
    min-height: 100dvh;
    background-color: #fdf6eb;
}

img {
    display: block;
    max-width: 100%;
}

/*===== 
HEADER 
======*/

.header-lume {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    background-color: #fff;
}

.header-lume__logo {
    font-size: 1.8rem;
    font-weight: 600;
    text-decoration: none;
    letter-spacing: .1rem;

    color: var(--primary-color);

}

.menu--disable,
.btn--disable {
    display: none;
}

.lucide {
    color: var(--primary-color);
}

/*====
 HERO 
 =====*/

.lume-hero {
    background-image: url(../img/hero.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100dvh;
}

.lume-hero__title {
    margin: 0;
    padding: 4rem 1rem;
    font-size: 2rem;
    color: rgb(83, 78, 78);
}

/*========== 
INTRODUCTION 
============*/

.lume-introduction {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

.lume-introduction__icon {
    margin: 2rem 0;
}

.lucide-sparkle-icon {
    margin: 0 2rem;

}

.lume-introduction__text {
    text-align: center;

}

.lume-introduction__text p {
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 2rem;
}

.mark--blue {
    background-color: var(--mark-blue);
}

.mark--green {
    background-color: var(--mark-green);
}

.mark--purple {
    background-color: var(--mark-purple);
}

.mark--pink {
    background-color: var(--mark-pink);
}

.mark--yellow {
    background-color: var(--mark-yellow);
}

.lume-introduction__btn {
    display: inline-flex;
    text-decoration: none;
    font-size: 1.1rem;
    color: var(--secondary-color);
    white-space: nowrap;
    margin-right: 1rem;
    gap: .3rem;


}

.lume-introduction__btn::before {
    content: "➞";

}

/*========
 RESOURCES 
 =========*/

.lume-resources {
    padding: 2rem .5rem;
}

.lume-resources__title {
    font-size: 1.8rem;
    text-align: center;
    letter-spacing: .1rem;
    color: var(--secondary-color);
}

.lume-resources__card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.resources-card__icon {
    background-color: color-mix(in srgb, #fff, black 10%);
    width: 3rem;
    height: 3rem;
    border-radius: 50%;


    display: flex;
    align-items: center;
    justify-content: center;
}

.resources-card {
    border: 1px dashed var(--secondary-color);
    padding: 1rem;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .5rem;

}

.resources-card h3 {
    flex-grow: 1;
    font-size: 1.3rem;
    font-weight: 600;
}

.resources-card p {
    font-size: 1.1rem;
}

/*====== 
STATISTIC 
=======*/

.lume-statistic {
    margin: 0 .5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}

.lume-statistic__icon {
    margin: 0 auto;
    padding: 2rem 0;
}

.lume-statistic__img {
    padding: 1rem 0;
    overflow: hidden;

}

.lume-statistic__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.lume-statistic__line {
    border-top: 1px dashed black;
    padding: .5rem 0;
}

.lume-statistic__info {
    padding: .5rem 0;
}

.lume-statistic__info span {
    font-size: 2rem;
    color: var(--primary-color);
}

.lume-statistic__info p {
    font-size: 1.3rem;
    font-weight: 500;
}

/*=========
 Testimony 
 ==========*/

.lume-testimony__icon {
    text-align: center;
    margin: 2rem 0;
}

.lume-testimony__title {
    text-align: center;
    font-size: 2rem;
}

.lume-testimony__card {
    display: grid;
    padding: 1rem 0.5rem;
    gap: 1rem;

}

.testimony-card {
    background-color: snow;
    border: 1px solid gray;
    text-align: center;
    padding-bottom: 2rem;

}

.testimony-card__img {
    aspect-ratio: 6 / 6;
    overflow: hidden;
}

.testimony-card__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.testimony-card p,
.testimony-card span {
    font-size: 1.1rem;
    padding: .5rem;
}

/*===== 
FOOTER
======*/

.lume-footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr) 5rem;
    gap: .5rem;
    padding: 1rem;
    background-color: black;
    color: var(--primary-color);

}

.lume-footer__email {
    grid-column: 1 / 3;
}

.lume-email__title {
    font-size: 1.3rem;
    text-align: center;
}

.lume-footer__form {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.lume-footer__form label {
    font-size: 1.1rem;
    font-weight: 600;
}

input[type="email"] {
    padding: .5rem;
    outline: 1px solid var(--secondary-color);
}

input[type="email"]::placeholder {
    color: var(--secondary-color);
}

input[type="email"]:focus::placeholder {
    color: transparent;
}

.lume-footer__form button {
    font-size: 1.1rem;
    font-weight: 700;
    text-transform: capitalize;
    letter-spacing: 1px;
    color: var(--primary-color);
    padding: .5rem;
}

.lume-footer__support {
    grid-column: 1 / 2;
    grid-row: 2;
}

.lume-support__title,
.lume-social__title {
    font-size: 1.1rem;

}

.lume-support__ul,
.lume-social__ul {
    padding: 0;
}

.lume-support__ul li,
.lume-social__ul li {
    list-style-type: none;
    padding: .3rem 0;
}

.lume-support__ul a,
.lume-social__ul a {
    text-decoration: none;
    color: snow;
    font-size: 1rem;
}


.lume-footer__social {
    grid-column: 2 / 3;
    grid-row: 2;
    text-align: right;
}


.lume-footer__autoral {
    grid-column: 1 / 3;
    grid-row: 3;
    text-align: center;
    padding-top: 1.2rem;
    font-size: .8rem;
}

/*==================
 RESPONSIVIDADE 64EM 
 ===================*/

@media screen and (min-width: 64em) {



    .header-lume {
        position: sticky;
        top: 0;
        z-index: 10;
        padding-right: 0;
    }

    .header-lume__logo {
        margin-right: auto;
    }

    .header-lume__logo:hover {
        color: color-mix(in srgb, var(--primary-color), white 40%);
    }

    .menu--disable,
    .btn--disable {
        display: flex;
    }


    .header-lume__menu {
        list-style-type: none;
        gap: 1em;
        padding-right: 1.5em;

    }

    .header-lume__menu a {
        text-decoration: none;
        font-size: 1em;
        font-weight: 700;
        letter-spacing: .1em;
        color: var(--secondary-color);
        padding-bottom: .3em;
    }

    .header-lume__menu a:hover {
        color: color-mix(in srgb, var(--secondary-color), white 40%);
        border-bottom: 2px solid var(--primary-color);
    }

    .header-lume__btn {
        display: inline-block;
        background-color: black;
        padding: 1em 2em;

        text-decoration: none;
        font-size: 1em;
        font-weight: 700;
        letter-spacing: .1em;
        color: var(--primary-color);

        transition: background-color var(--time) ease-out, color var(--time) ease-out;
    }

    .header-lume__btn:hover {
        color: #fff;
        background-color: var(--primary-color);
    }


    .icon--disable {
        display: none;
    }


    .lume-hero__title {
        align-content: end;
        width: 20CH;
    }

    .lume-introduction__text p {
        width: 30ch;
        font-size: 1.5em;
    }

    .lume-introduction__btn {
        font-size: 1.3em;
    }

    .lume-introduction__btn:hover {
        color: var(--primary-color);
    }

    .lume-introduction__btn::before {
        transition: transform var(--time) ease;
    }

    .lume-introduction__btn:hover::before {
        transform: translateX(1px);
    }

    .lume-resources__card {
        grid-template-columns: repeat(4, 1fr);
    }

    .lume-statistic {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 5em 31.25em;
        padding: .5em 2em;
       
    }

    .lume-statistic__icon {
        grid-column: 1 / 3;
        grid-row: 1;
    }

    .lume-statistic__img {
        grid-column: 1 / 2;
        grid-row: 2;

    }

    .lume-statistic__card {
        grid-column: 2 / 3;
        grid-row: 2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: .6em;
        padding-top: 1em;

    }

    .lume-testimony__card {
        grid-template-columns: repeat(3, 1fr);
    }

    .lume-footer {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr 5em;
        text-align: center;
    }

    .lume-footer__email {
        grid-column: 1 / 2;
        grid-row: 1;
    }


    .lume-email__title,
    .lume-support__title,
    .lume-social__title {
        font-size: 1.1em;
        margin: 1em;
        letter-spacing: .1em;
    }

    .lume-footer__form label {
        font-size: 1em;
    }

    .lume-footer__support {
        grid-column: 2 / 3;
        grid-row: 1;
    }

    .lume-footer__social {
        grid-column: 3 / 4;
        grid-row: 1;
        text-align: center;
    }

    .lume-footer__autoral {
        grid-column: 1 / 4;
        grid-row: 2;
        padding: 2.5em;
    }
}

/*================= 
RESPONSIVIDADE 80EM 
===================*/

@media screen and (min-width: 80em) {


    .lume-hero__title{
        font-size: 3em;
    }
  

    .lume-introduction__text p {
        font-size: 1.6em;
    }

    .lume-introduction__btn{
        font-size: 1.4em;
    }

    .lume-statistic {
        margin: 0;
        gap: 4em;
    }
 
}